<h1>Edit About</h1><hr>
<div class="row">
    {{#if hasErrors}}
        {{#each messages}}
            <div class='alert alert-danger'>
                {{this}}
            </div>
        {{/each}}
    {{/if}}
    <form action="/admin/about-edit" method="post">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">Image Path</span>
                <input type="text" id="imagePathAbout" name="imagePathAbout" class="form-control" value="{{content.imagePath}}">
            </div></br>
            <div class="input-group">
                <span class="input-group-addon">About Me:</span>
                <textarea class="form-control" rows="5" name="descriptionAbout">{{content.description}}</textarea>
            </div></br>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
    </form>
</div>
