<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/landingStyles.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Source+Sans+Pro:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|Lobster" rel="stylesheet">
  </head>
  <body class="centered">
    {{> header-landing }}

    <div class="container-fluid ">
        {{{body}}}
    </div>




  </body>
</html>
